* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}

@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: url(./fonts/IBMPlexMono-Regular.ttf);
}

body {
  animation: body 3s;
}

@keyframes body {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}